{% extends 'app.html' %}  
{% set active_page = "dashboard" %}

{% block content %}
<div class="main">
  <div class="main-inner">
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="widget widget-nopad">
            <div class="widget-header"> <i class="icon-list-alt"></i>
              <h3> System Stats</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
              <div class="widget big-stats-container">
                <div class="widget-content">
                  <h6 class="bigstats">Emergencies of the System</h6>
                  <div id="big_stats" class="cf">
                    <div class="stat"> <img src="/static/img/accident.png" alt="accident"><p>Accident</p><span class="value">{{accidents}}</span> </div>
                    <!-- .stat -->
                    
                    <div class="stat"> <img src="/static/img/pregnancy.png" alt="pregnancy"><p>Pregnancy</p><span class="value">{{pregnancy}}</span> </div>
                    <!-- .stat -->
                    
                    <div class="stat"> <img src="/static/img/illness.png" alt="illness"><p>Illness</p><span class="value">{{illness}}</span> </div>
                    <!-- .stat -->
                  </div>
                </div> 
            </div>
          </div>
          <!-- /widget -->
            <!-- /widget-header -->
            <div class="widget-content">
              <div id='calendar'>
              </div>
            </div>
            <!-- /widget-content --> 
          </div>
          <!-- /widget -->
          <div class="widget">
            <div class="widget-header"> <i class="icon-file"></i>
              <h3>Recent Reports</h3>
            </div>
            {% if recentReports %}
              {% for r in recentReports %}
                <div class="control-group">
                    <div class="controls">                          
                      <div class="accordion" id="accordion{{r.count}}">
                          <div class="accordion-group">
                          <div class="accordion-heading">
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion{{r.count}}" href="#collapse{{r.count}}">
                              Report ID: {{r.id}}
                              <p class="pull-right">{{r.created}}</p>
                          </a>
                          </div>
                          <div id="collapse{{r.count}}" class="accordion-body collapse in">
                              <div class="accordion-inner">
                                  <p>Report Location: {{r.report_location}}</p>
                              </div>
                          </div>
                      </div>
                    </div>
                  </div> <!-- /controls -->	
                </div> <!-- /control-group -->
              {% endfor %} 
            {% endif %}            

            <!-- /widget-content --> 
          </div>
          <!-- /widget --> 
        </div>
        <!-- /span6 --> 
      </div>
      <!-- /row --> 
    </div>
    <!-- /container --> 
  </div>
  <!-- /main-inner --> 
</div>

{% endblock %}
