{% extends 'app.html' %}  
{% set active_page = "dashboard" %}

{% block content %}
<div class="main">
  <div class="main-inner">
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="widget widget-nopad">
            <div class="widget-header"> <i class="icon-list-alt"></i>
              <h3> Today's Stats</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
              <div class="widget big-stats-container">
                <div class="widget-content">
                  <h6 class="bigstats">Emergencies of the day</h6>
                  <div id="big_stats" class="cf">
                    <div class="stat"> <i class="icon-user-md"></i><p>Accident</p><span class="value">851</span> </div>
                    <!-- .stat -->
                    
                    <div class="stat"> <i class="icon-thumbs-up-alt"></i><p>Pregnancy</p><span class="value">423</span> </div>
                    <!-- .stat -->
                    
                    <div class="stat"> <i class="icon-twitter-sign"></i><p>Illness</p><span class="value">922</span> </div>
                    <!-- .stat -->
                  </div>
                </div> 
            </div>
          </div>
          <!-- /widget -->
            <!-- /widget-header -->
            <div class="widget-content">
              <div id='calendar'>
              </div>
            </div>
            <!-- /widget-content --> 
          </div>
          <!-- /widget -->
          <div class="widget">
            <div class="widget-header"> <i class="icon-file"></i>
              <h3>Recent Reports</h3>
            </div>
            <div class="control-group">
								<div class="controls">                          
									 <div class="accordion" id="accordion2">
                       <div class="accordion-group">
                       <div class="accordion-heading">
                       <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                          Report Number 1
                          <p class="pull-right">March 12, 2019 Tuesday 10:27am</p>
                       </a>
                       </div>
                       <div id="collapseOne" class="accordion-body collapse in">
                          <div class="accordion-inner">
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, numquam veritatis doloremque est placeat quisquam, quod corporis ea mollitia, eum repudiandae voluptatibus. Facilis, commodi et accusantium porro fugit sapiente minima?</p>
                           </div>
                       </div>
                  </div>
                  <div class="accordion-group">
                    <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                          Report Number 2
                          <p class="pull-right">March 12, 2019 Tuesday 10:27am</p>
                      </a>
                      
                    </div>
                    <div id="collapseTwo" class="accordion-body collapse">
                        <div class="accordion-inner">
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam id assumenda perferendis commodi quod! Unde minima nesciunt, quidem vel perferendis quasi cum ex? Ab neque suscipit natus! Provident, aspernatur sequi?</p>
                        </div>
                    </div>
                  </div>
                </div>
							</div> <!-- /controls -->	
						</div> <!-- /control-group -->
                                            

            <!-- /widget-content --> 
          </div>
          <!-- /widget --> 
        </div>
        <!-- /span6 --> 
      </div>
      <!-- /row --> 
    </div>
    <!-- /container --> 
  </div>
  <!-- /main-inner --> 
</div>

{% endblock %}
