{% extends 'app.html' %}
{% set active_page = "reports" %}

{% block content %}
 <!-- neutral Modal -->  
	{% if hospital %}
	<input type="hidden" value="{{hospital}}" id="hospitalID">
	{% endif %}
                <div  id="neutralModal" class="modal fade" role="dialog">
									<div class="modal-dialog">
								
										<!-- Modal content-->
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">&times;</button>
												<h3 class="modal-title" >
                          <span id="titleModal"></span>
											  </h3>
											</div>
											<form method="POST">
												<div class="modal-body">
													<input type="hidden" id="reportid">
													<div class="form-group">
														<label for="selectResponder">Select responder to dispatch</label>
														<select name="selectResponder" id="selectResponder" class="form-control">
															{% if responders %}
																{% for responder in responders %}
																	<option value="{{responder.id}}">{{responder.responder_firstname}} {{responder.responder_lastname}} {% if responder.report_info %}(currently unavailable){% endif %} </option>
																{% endfor %}
															{% endif %}
														</select>
													</div>
												</div>
												<div class="modal-footer">
														<button data-dismiss="modal" class="btn btn-primary dispatch">
																Dispatch
														</button>
												</div>
											</form>
										</div>
								
									</div>
								</div>
<div class="main">
	<div class="main-inner">

	    <div class="container">
	  	  <!-- /row -->
	
	      <div class="row">
	      	
	      	<div class="">
	      		
	      		<div class="widget">
						
						{% if request.args.get("dispatch")=="success" %}
							<div class="alert alert-success">
								<p>{{request.args.get("message")}}</p>
							</div>
						{% endif %}
						
					<div class="widget-header">
						<i class="icon-user"></i>
						<h3>Patients</h3>
					</div> <!-- /widget-header -->
					
					<div class="widget-content">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>ID</th>
									<th>Type</th>
									<th>Location</th>
									<th>Message</th>
									<th>Image</th>
									<th>Status</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								{% if reports %}
									{% for r in reports %}
										<tr id="{{ r.id }}">
											<td>{{ r.id }}</td>
											<td>{{ r.report_type }}</td>
											<td>{{ r.report_location }}</td>
											<td>{{ r.report_others }}</td>
											<td><img  class="img-responsive img-thumbnail" width="100px" height="100px" src="{{ r.report_image }}" alt=""></td>
											<td class='status'>{{ r.report_status }}</td>
											<td class='action'><button {% if r.report_status == "declined" or r.report_status== "accepted" %} disabled=disabled {% endif %}  class='btn btn-success accept' data-id='{{ r.id }}'>Accept</button><button {% if r.report_status == "declined" or r.report_status == "accepted"  %} disabled=disabled {% endif %} class='btn btn-danger decline' data-id='{{ r.id }}'>Decline</button></td>
										</tr>
									{% endfor %}
									{% else %}
									<tr>
										<td colspan="7" style="text-align:center"><p class="text-center">No patient reports found</p></td>
									</tr>
								{% endif %}
							</tbody>
						</table>
					</div> <!-- /widget-content -->
						
				</div> <!-- /widget -->
				 		
		    </div> <!-- /span6 -->
  
	    </div> <!-- /container -->
	    
	</div> <!-- /main-inner -->
    
</div> <!-- /main -->

{% endblock %}
