{% extends 'app.html' %}
{% set active_page = "reports" %}

{% block content %}
<div class="main">
	<div class="main-inner">

	    <div class="container">
	  	  <!-- /row -->
	
	      <div class="row">
	      	
	      	<div class="">
	      		
	      		<div class="widget">
						
					<div class="widget-header">
						<i class="icon-user"></i>
						<h3>Patients</h3>
					</div> <!-- /widget-header -->
					
					<div class="widget-content">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>ID</th>
									<th>Type</th>
									<th>Location</th>
									<th>Message</th>
									<th>Status</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								{% if reports %}
									{% for r in reports %}
										<tr data-id="{{ r.id }}">
											<td>{{ r.id }}</td>
											<td>{{ r.report_type }}</td>
											<td>{{ r.report_location }}</td>
											<td>{{ r.report_others }}</td>
											<td class='status'>{{ r.report_status }}</td>
											<td><button class='btn btn-success accept' data-id='{{ r.id }}'>Accept</button><button class='btn btn-danger decline' data-id='{{ r.id }}'>Decline</button></td>
										</tr>
									{% endfor %}
									{% else %}
									<tr>
										<td colspan="5" style="text-align:center"><p class="text-center">No patient reports found</p></td>
									</tr>
								{% endif %}
							</tbody>
						</table>
					</div> <!-- /widget-content -->
						
				</div> <!-- /widget -->
				
	      		
	      		
	      		
		    </div> <!-- /span6 -->
	      	
	      	
	      	<div class="">
	      		
	      		<div class="widget">
							
					<div class="widget-header">
						<i class="icon-group"></i>
						<h3>Responders</h3>
					</div> <!-- /widget-header -->
					
					<div class="widget-content">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Report No.</th>
									<th>Responder Name</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>Joanna</td>
									<td><button class='btn btn-primary'>View</button><button class='btn btn-danger'>Delete</button></td>
								</tr>
								<tr>
									<td>2</td>
									<td>Joanna</td>
									<td><button class='btn btn-primary'>View</button><button class='btn btn-danger'>Delete</button></td>
								</tr>
								<tr>
									<td>3</td>
									<td>Joanna</td>
									<td><button class='btn btn-primary'>View</button><button class='btn btn-danger'>Delete</button></td>
								</tr>
								<tr>
									<td>4</td>
									<td>Joanna</td>
									<td><button class='btn btn-primary'>View</button><button class='btn btn-danger'>Delete</button></td>
								</tr>
								<tr>
									<td>5</td>
									<td>Joanna</td>
									<td><button class='btn btn-primary'>View</button><button class='btn btn-danger'>Delete</button></td>
								</tr>
							</tbody>
						</table>
					</div> <!-- /widget-content -->
				
				</div> <!-- /widget -->
									
		      </div> <!-- /span5 -->
	      	
	      </div> <!-- /row -->
	      
	    </div> <!-- /container -->
	    
	</div> <!-- /main-inner -->
    
</div> <!-- /main -->

{% endblock %}
