{% extends 'app.html' %}
{% set active_page = "responders" %}

{% block content %}
<div class="main">
	
	<div class="main-inner">

	    <div class="container">
					{% if request.args.get("all_fields")=="required" %}
							<div class="alert alert-danger">
								<p>All fields are <strong>required</strong></p>
							</div>
					{% elif request.args.get("add")=="success" %}
							<div class="alert alert-success">
								<p>{{request.args.get("message")}}</strong></p>
							</div>
					{% elif request.args.get("add")=="failed" %}
							<div class="alert alert-danger">
								<p>{{request.args.get("message")}}</strong></p>
						 	</div>
					{% endif %}
	      
			<div class="row">
	      	
				<div class="span12">
					
					<div class="widget">
						  
					  <div class="widget-header">
						  <i class="icon-group"></i>
							<h3>Responders</h3>
									<a href="#myModal" data-toggle="modal">
											<img src="/static/img/add.png" alt="add responders" class="pull-right padding">
									</a>
							<!-- Modal -->
							<div id="myModal" class="modal fade" role="dialog">
									<div class="modal-dialog">
										<!-- Modal content-->
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">&times;</button>
												<h3 class="modal-title" >
														Add Responder
											</h3>
											</div>
											<div class="modal-body">
												<form method="POST">
													<div class="form-group">
														<input type="text" class="form-control" placeholder="Firstname" id="responder_firstname">
													</div>
													<div class="form-group">
															<input type="text" class="form-control" placeholder="Middlename" id="responder_middlename">
													</div>
													<div class="form-group">
															<input type="text" class="form-control" placeholder="Lastname" id="responder_lastname">
														</div>
														<button id="btnAddResponder" class="btn btn-primary pull-right">Add</button>
												</form>
											</div>
											<div class="modal-footer">
											</div>
										</div>
								
									</div>
								</div>

							
						</div> <!-- /widget-header -->
					  <div class="widget-content">
							<table class="table table-striped">
								<thead>
									<tr>
										<th>ID</th>
										<th>Firstname</th>
										<th>Middlename</th>
										<th>Lastname</th>
										<th>Action</th>
									</tr>
								</thead>
								
								<tbody>
									{% if responders %}
										{% for r in responders %}
											<tr>
												<td>{{ r.id }}</td>
												<td>{{ r.responder_firstname }}</td>
												<td>{{ r.responder_middlename }}</td>
												<td>{{ r.responder_lastname }}</td>
												<td>
													<a class="btn btn-primary" href="">Edit</a>
													<a class="btn btn-danger" href="">Delete</a>
												</td>
											</tr>
										{% endfor %}
									{% else %}
									<tr>
										<td colspan="5" style="text-align:center"><p class="text-center">No responder found</p></td>
									</tr>
									{% endif %}
								</tbody>
							</table>
					  </div> <!-- /widget-content -->
						  
				  </div> <!-- /widget -->
				</div><!-- span12 -->
			</div> <!-- /row -->
	    </div> <!-- /container -->
    
	</div> <!-- /main-inner -->
	    
</div> <!-- /main -->

{% endblock %}