{% extends 'app.html' %}
{% set active_page = "responders" %}

{% block content %}
<div class="main">
	
	<div class="main-inner">

	    <div class="container">
	
	      
			<div class="row">
	      	
				<div class="span12">
					
					<div class="widget">
						  
					  <div class="widget-header">
						  <i class="icon-group"></i>
							<h3>Responders</h3>
									<a href="#myModal" data-toggle="modal">
											<img src="/static/img/add.png" alt="add responders" class="pull-right padding">
									</a>
							<!-- Modal -->
							<div id="myModal" class="modal fade" role="dialog">
									<div class="modal-dialog">
								
										<!-- Modal content-->
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">&times;</button>
												<h3 class="modal-title" >
														Add Responder
											</h3>
											</div>
											<div class="modal-body">
												{% if request.args.get("all_fields")=="required" %}
													<div class="alert alert-danger">
														<p>All fields are <strong>required</strong></p>
													</div>
												{% elif request.args.get("add")=="success" %}
													<div class="alert alert-success">
														<p>{{request.args.get("message")}}</strong></p>
													</div>
												{% elif request.args.get("add")=="failed" %}
													<div class="alert alert-danger">
														<p>{{request.args.get("message")}}</strong></p>
													</div>
												{% endif %}
												<form method="POST">
													<div class="form-group">
														<input type="text" class="form-control" placeholder="Firstname" id="responder_firstname">
													</div>
													<div class="form-group">
															<input type="text" class="form-control" placeholder="Middlename" id="responder_middlename">
													</div>
													<div class="form-group">
															<input type="text" class="form-control" placeholder="Lastname" id="responder_lastname">
														</div>
														<button id="btnAddResponder" class="btn btn-primary pull-right">Add</button>
												</form>
											</div>
											<div class="modal-footer">
											</div>
										</div>
								
									</div>
								</div>

							
					  </div> <!-- /widget-header -->
					  
					  <div class="widget-content">
							<table class="table table-striped">
								<thead>
									<tr>
										<th>ID</th>
										<th>Firstname</th>
										<th>Middlename</th>
										<th>Lastname</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
										<td>Joanna</td>
										<td>Mendoza</td>
										<td>Pasa</td>
										<td><button class='btn btn-primary'>Edit</button><button class='btn btn-danger'>Delete</button></td>
									</tr>
								</tbody>
							</table>
					  </div> <!-- /widget-content -->
						  
				  </div> <!-- /widget -->
				</div><!-- span12 -->
			</div> <!-- /row -->
	    </div> <!-- /container -->
    
	</div> <!-- /main-inner -->
	    
</div> <!-- /main -->

{% endblock %}