{% extends 'app.html' %}

{% block content %}
    <div class="container">
        <h1>Settings</h1>
        <hr>
        <div class="control-group">
            <div class="controls">                          
                 <div class="accordion" id="accordion2">
                    <div class="accordion-group">
                    <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                        <i class="icon-user padding"></i>Account Management
                    </a>
                    </div>
                    <div id="collapseOne" class="accordion-body collapse in">
                        <div class="accordion-inner">
                            <ul class="list-none">
                                <li>Change Profile</li>
                                <li>Edit Email</li>
                            </ul>
                        </div>
                    </div>
                    </div>
                    <div class="accordion-group">
                    <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                        <i class="icon-wrench padding"></i>Application Settings
                    </a>
                    
                    </div>
                    <div id="collapseTwo" class="accordion-body collapse">
                        <div class="accordion-inner">
                                <ul class="list-none">
                                    <li>Change Profile</li>
                                    <li>Edit Email</li>
                                </ul>
                        </div>
                    </div>
                    </div>
                    </div>
        </div> <!-- /controls -->	
    </div> <!-- /control-group -->
    </div>
{% endblock %}