{% extends 'app.html' %}

{% block content %}
    <!-- /subnavbar -->
    <div class="main">
        <div class="main-inner">
            <div class="container">
                <div class="row">
                    <div class="span12">
					
                        <div class="widget">
                              
                          <div class="widget-header">
                              <i class="icon-user"></i>
                              <h3>Users</h3>
                          </div> <!-- /widget-header -->
                          
                          <div class="widget-content">
                            <table class="table table-striped">
								<thead>
									<tr>
										<th>ID</th>
										<th>Firstname</th>
										<th>Lastname</th>
										<th>Middlename</th>
										<th>Email</th>
										<th>Password</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
										<td>Joanna</td>
										<td>Pasa</td>
										<td>Mendoza</td>
										<th>joan@gmail.com</th>
										<th>123</th>
                                    </tr>
                                    <tr>
										<td>2</td>
										<td>Joanna</td>
										<td>Pasa</td>
										<td>Mendoza</td>
										<th>joan@gmail.com</th>
										<th>123</th>
                                    </tr>
                                    <tr>
										<td>3</td>
										<td>Joanna</td>
										<td>Pasa</td>
										<td>Mendoza</td>
										<th>joan@gmail.com</th>
										<th>123</th>
                                    </tr>
                                    <tr>
										<td>4</td>
										<td>Joanna</td>
										<td>Pasa</td>
										<td>Mendoza</td>
										<th>joan@gmail.com</th>
										<th>123</th>
                                    </tr>
                                    <tr>
										<td>5</td>
										<td>Joanna</td>
										<td>Pasa</td>
										<td>Mendoza</td>
										<th>joan@gmail.com</th>
										<th>123</th>
                                    </tr>                                    
								</tbody>
							</table>
                          </div> <!-- /widget-content -->
                              
                      </div> <!-- /widget -->
                    </div><!-- span12 -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /main-inner -->
    </div>
   
{% endblock %}