{% extends 'app.html' %}
{% set active_page = "users" %}

{% block content %}
    <!-- /subnavbar -->
    <div class="main">
        <div class="main-inner">
            <div class="container">
                <div class="row">
                    <div class="span12">
					
                        <div class="widget">
                              
                          <div class="widget-header">
                              <i class="icon-user"></i>
                              <h3>Users</h3>
                          </div> <!-- /widget-header -->
                          
                          <div class="widget-content">
                            <table class="table table-striped">
								<thead>
									<tr>
										<th>ID</th>
										<th>Firstname</th>
										<th>Lastname</th>
										<th>Middlename</th>
										<th>Email</th>
									</tr>
								</thead>
								<tbody>
									{{users}}
									{% if users %}
										{% for u in users %}
										<tr>
											<td>{{ u.id }}</td>
											<td>{{ u.user_firstname}}</td>
											<td>{{ u.user_middlename}}</td>
											<td>{{ u.user_lastname}}</td>
											<td>{{ u.user_email}}</td>
											<td>
												<div class="btn btn-primary">Edit</div>
												<div class="btn btn-danger">Delete</div>
											</td>
										</tr>
										{% endfor %}
									{% else %}
									<tr>
										<td colspan="5" style="text-align:center"><p>No user found</p></td>
									</tr>
									{% endif %}                             
								</tbody>
							</table>
                          </div> <!-- /widget-content -->
                              
                      </div> <!-- /widget -->
                    </div><!-- span12 -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /main-inner -->
    </div>
   
{% endblock %}